<!DOCTYPE html>
<html>
  <head>
    <title>Create Viaje</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
       #map {
    width: 25%;
    height: 300px;
}
    #map2{
    width: 25%;
    height: 300px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
    </style>
  </head>
{% extends 'base.html' %}

{% block content %}

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Creación de viaje </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                     <br>
                   </div>
          <form action="" method="POST">
          {% csrf_token %}

    {{ form.as_p }}

    <h2> Tarifa promedio del sistema: 20 </h2>
    
    <input type="submit" value="Submit" />
</form>
<script>
            
</script>
          </script>

{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>

<script>
$(document).ready(function() {
    $('#datatable-inbox').DataTable( {
      "searching": false,
      "paging": false,
      "info": false
    } );
} );
</script>

{% endblock %}