{% extends 'base.html' %}

{% block content %}

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                    </ul>
                    <h1>Viaje en curso</h1>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                    <h2>Origen: {{viaje.origen}} </h2> 
                    <h2>Destino: {{viaje.destino}}</h2>
                    <br> 
                    <h2>Fecha de Inicio: {{viaje.origen.fecha}} - {{viaje.destino.hora}}</h2>
                    <h2>Fecha de Llegada: {{viaje.origen.fecha}} - {{viaje.destino.hora}}</h2>
                    <br> <br>

                    <h3> Siguiente pasajero: {{primero.user.first.first_name}} {{primero.user.first.last_name}} </h3>

                    <h3> Se sube en {{primero.origen.nombre}} a las {{primero.origen.hora}} - {{primero.origen.fecha}}

                    <br><br>

                    <a href="{% url "Tomar_Pasajero" viaje_id=viaje.id trayecto_id=primero.id %}" type="button" class="btn btn-round btn-success btn-sm">Tomar pasajero</a>

                    <br> <br>

                    <h2> Siguientes pasajeros: </h2>

                    <table id="datatable-inbox" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Subida</th>
                          <th>Fecha</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                      {% for trayecto in trayectos.all%}
                        <tr>
                          <td>{{trayecto.user.first.first_name}} {{trayecto.user.first.last_name}} </td>   
                          <td>{{trayecto.origen.nombre}}</td>     
                          <td>{{trayecto.origen.hora}} - {{trayecto.origen.fecha}}</td>                           
                        </tr>
                      {% endfor %}
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>



{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>


{% endblock %}