{% extends 'base.html' %}

{% block content %}


<script>
alertify.confirm('Un Viaje esta pronto de iniciar!\n\nEl viaje de "{{viaje.origen}}" a "{{viaje.destino}}" comienza a las {{viaje.origen.hora}} el dia {{viaje.origen.fecha}}',
  function(){
    window.location.href = "{% url "Administrar_Viaje" viaje.id %}";
  },
  function(){
    alertify.error('¡Recuerde inicar el viaje!');
  }).set('labels', {ok:'Iniciar Viaje', cancel:'Salir'});

  </script>

      <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>TALCKAR</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: block;">

                  <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                      <h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>
                      <p>Estas en Talckar, sistema de busqueda de viajes. Eliga una de las opciones laterales para iniciar.</p>
                    </div>
                  </div>
                   <div class="jumbotron">
                      <h3>Un Viaje esta pronto de iniciar!</h3>
                      <br>
                      <p>El viaje de <b>{{viaje.origen}}</b> a <b>{{viaje.destino}}</b> comienza a las <b>{{viaje.origen.hora}}</b> el dia <b>{{viaje.origen.fecha}}</b></p>
                      <br>
                      <td><a href="{% url "Administrar_Viaje" viaje.id %}" type="button" class="btn btn-round btn-info btn-lg btn-block">Iniciar Viaje</a></td>
                    </div>
                </div>
              </div>
            </div>


{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>


{% endblock %}