{% extends 'base.html' %}
{% block content %}

             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <br>
                    <h2>Usuario: {{user.first_name}} {{user.last_name}}</h2> 
                    
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>

              <div class="form-row field-correo">
                <div>
                  <label class="required" for="id_correo">Correo:</label>
                        <input type="text" name="correo" value = {{user.correo}} id="id_correo" required class="vTextField" maxlength="30" />
                </div>
              </div>
              <br>

              <div class="form-row field-profesion">
                <div>
                  <label class="required" for="id_profesion">Profesion:</label>
                    <input type="text" name="profesion" value = {{user.profesion}} id="id_profesion" required class="vTextField" maxlength="30" />
                </div>
              </div>
              <br>

              <div class="form-row field-interes">
                <div>
                  <label class="required" for="id_interes">Interes:</label>
                    <input type="text" name="interes" value = {{user.interes}} id="id_interes" required class="vTextField" maxlength="30" />
                </div>
              </div>
              <br>

              <div class="form-row field-fumador">
                <div>
                  <label class="required" for="id_fumador">Fumador:</label>
                    <input type="text" name="fumador" value = {{user.fumador}} id="id_fumador" required class="vTextField" maxlength="30" />    
                </div>
              </div>
              <br>

              <div class="form-row field-foto">
                <div>
                  <label class="required" for="id_foto">Foto:</label>
                    <p class="file-upload">Currently: <a href= {{user.foto}} >default.png</a></span><br />
                Change:
                <input type="file" name="foto" id="id_foto" /></p>
                        
                    
                    
                </div>
            
        </div>
          <div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
            
            

                  </div>
                </div>
              </div>



{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>


{% endblock %}