{% extends 'base.html' %}

{% block content %}
<style>
  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class = "x_panel">
        <div class = "x_title">
            <h1>Todas las Valoraciones</h1>
        </div>
        <div class = "row">
            <table class = "table">
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Valoración</th>
                {% for valoracion in valoraciones.all %}
                <tr>
                    {%if valoracion.usuario == ""%}
                    <td><a> <img src="/media/user/default.png" width="80px"> </a></td>
                    {%else%}
                    <td><a> <img src="/media/{{valoracion.usuario.foto}}" width="80px"> </a></td>
                    {%endif%}
                    <td>{{valoracion.comentario}}</td>
                    <td>{{valoracion.puntaje}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>                 

{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>


{% endblock %}