{% extends 'base.html' %}

{% block content %}
<style>
  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                    </ul>
                    <h1>Valoración del Pasajero</h1>
                    <div class="clearfix"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-1">
                      
                      <p class="text-muted font-13 m-b-30"></p>
                      <a> <img src="/media/{{pasajero.first.foto}}" width="80px"> </a>
                    </div>
                    <div class="col-sm-4">
                      <h2> Pasajero: {{pasajero.first.first_name}} {{pasajero.first.last_name}} <a href="{% url "VerPerfil" pasajero.first.id %}" type="button" class="btn btn-round btn-success btn-sm">Ver Perfil</a> </h2> 
                      <h2> Valoracion: {{ valor }} </h2>
                      
                      
                    </div>
                    <div class="col-sm-6">
                    <h2>Valorar: </h2>
                      <form method="POST" action="{% url "Valorar_Conductor" viaje_id=viaje.id reserva_id=reserva.id %}">
                      {% csrf_token %}
                      <table id="datatable-inbox" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td><input id="radio1" type="radio" name="estrellas" value="1"></td>   
                          <td><input id="radio2" type="radio" name="estrellas" value="2"></td>  
                          <td><input id="radio3" type="radio" name="estrellas" value="3"></td>   
                          <td><input id="radio4" type="radio" name="estrellas" value="4"></td>   
                          <td><input id="radio5" type="radio" name="estrellas" value="5"></td>                              
                        </tr>
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                  <div class="row">
                  
                  <h2>Comentario:</h2>
                  
                  <TEXTAREA NAME="Comentario" style="width: 100%; height: 100px;" >Comentario... </TEXTAREA>
                      <br> <br>
                      <input type="submit" value="Ingresar">
                      </form>
                  </div>
                </div>
              </div>



{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>


{% endblock %}