{% extends 'base.html' %}

{% block content %}

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Tickets en Seguimiento  <a href="{% url "following_new" %}" type="button" class="btn btn-round btn-success">Nuevo</a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>

      
                    <table id="datatable-inbox" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Estado Seguimiento</th>
                          <th>ID</th>
                          <th>Fecha Creacion</th>
                          <th>Estado Remedy</th>
                          <th>Grupo Asignado</th>
                          <th>Servicio</th>
                          <th>Titulo</th>
                          <th>Dias Ultimo Escalamiento</th>
                          <th>Cantidad de Escalamientos</th>
                          <th>Dias Ultimo Comentario</th>
                          <th>Dias Ultima Nota</th>
                          <th>Detalles</th>
                          <th>Fecha Comentario</th>
                          <th>Ultimo Comentario</th>
                          <th>Fecha Nota</th>
                          <th>Ultima Nota</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Estado Seguimiento</th>
                          <th>ID</th>
                          <th>Fecha Creacion</th>
                          <th>Estado Remedy</th>
                          <th>Grupo Asignado</th>
                          <th>Servicio</th>
                          <th>Titulo</th>
                          <th>Dias Ultimo Escalamiento</th>
                          <th>Cantidad de Escalamientos</th>
                          <th>Dias Ultimo Comentario</th>
                          <th>Dias Ultima Nota</th>
                          <th>Detalles</th>
                          <th>Fecha Comentario</th>
                          <th>Ultimo Comentario</th>
                          <th>Fecha Nota</th>
                          <th>Ultima Nota</th>
                        </tr>
                      </tfoot>
                      <tbody>
                      {% for ticket_inbox in object_list %}
                        <tr>
                          <td>{{ticket_inbox.active|yesno:"Activo,---"}}</td>
                          <td>{{ticket_inbox.ticket.id_workOrder}}</td>
                          <td>{{ticket_inbox.ticket.created}}</td>
                          <td>{{ticket_inbox.ticket.status}}</td>
                          <td>{{ticket_inbox.ticket.group_asigned}}</td>
                          <td>{{ticket_inbox.get_service_display}}</td>
                          <td>{{ticket_inbox.ticket.resume}}</td>
                          <td>{{ticket_inbox.last_escalation}}</td>
                          <td>{{ticket_inbox.ticket.escalation_set.all|length}}</td>
                          <td>{{ticket_inbox.last_comment}}</td>
                          <td>{{ticket_inbox.last_note}}</td>
                          <td>
                            <a href="{% url "following_detail" ticket_inbox.id %}" type="button" class="btn btn-round btn-info btn-sm">Info</a>
                            <a href="{% url "following_edit" ticket_inbox.id %}" type="button" class="btn btn-round btn-warning btn-sm">Edit</a>
                          </td>

                          <td>{{ticket_inbox.ticket.comentary_set.all.0.date}}</td> 
                          <td>{{ticket_inbox.ticket.comentary_set.all.0.comment}}</td>
                          <td>{{ticket_inbox.ticket.detail_set.all.0.date}}</td>
                          <td>{{ticket_inbox.ticket.detail_set.all.0.comment}}</td>

                        </tr>
                      {% endfor %}
                      </tbody>

                    </table>


                  </div>
                </div>
              </div>



{% endblock %}

{% block scripts %}
    {% load static %}
    <!-- Datatables -->
    <script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'js/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'js/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/pdfmake/build/vfs_fonts.js' %}"></script>

<script>


jQuery.fn.dataTableExt.oSort['numeric-comma-asc']  = function(a,b) {
  var x = (a == "-") ? 0 : a.replace( /,/, "." );
  var y = (b == "-") ? 0 : b.replace( /,/, "." );
  x = parseFloat( x );
  y = parseFloat( y );
  return ((x < y) ? -1 : ((x > y) ?  1 : 0));
};

jQuery.fn.dataTableExt.oSort['numeric-comma-desc'] = function(a,b) {
  var x = (a == "-") ? 0 : a.replace( /,/, "." );
  var y = (b == "-") ? 0 : b.replace( /,/, "." );
  x = parseFloat( x );
  y = parseFloat( y );
  return ((x < y) ?  1 : ((x > y) ? -1 : 0));
};


$(document).ready(function() {

  var table = $('#datatable-inbox').DataTable( {
      "paging": false,
      "responsive": false,
      "info": false,
      "oSearch": {"sSearch": "Activo"},
      "dom": 'Bfrtip',
      "buttons": [
            'copy', 'csv', 'print'
        ],


      "columnDefs": [
            {
                "targets": [ 12,13,14,15 ], //7,8,9,10,11,12 
                "visible": false,
                "searchable": false
            },
            
        ],

      "aoColumns": [
          null,
          null,
          null,
          null,
          null,
          null,
          { "sType": "numeric-comma" },
          null,
          { "sType": "numeric-comma" },
          { "sType": "numeric-comma" },
          null,
          null,
          null,
          null,
          null
        ],
  

    } );

    


$('#datatable-inbox tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
    } );

    // DataTable
    
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );

} );
</script>

{% endblock %}